[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-ckeditor = "*"
python-dotenv = "*"
whitenoise = "*"
django-storages = {extras = ["boto3"], version = "*"}
pillow = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
