{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Post Title{% endblock title %}

{% block extra_css %}
    <style>
        .cursor-pointer {
            cursor: pointer;
        }

        .meta-li {
            color: rgba(var(--default-color-rgb), 0.6);
            font-size: 14px;
            display: inline-block;
            line-height: 1;
            cursor: default;
        }

        .img-fluid {
            height: 100%;
            width: 100%;
        }

        .author-profile {
            height: 120px;
            width: 120px;
        }

        .blog-details .blog-author img {
            height: 120px;
            margin-right: 0;
        }

        .comment-img svg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--primary-color);
            padding: 8px;
        }

        .comment-img svg > * {
            stroke: white !important;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div data-aos="fade" class="page-title">
            <div class="heading">
                <div class="container">
                    <div class="row d-flex justify-content-center text-center">
                        <div class="col-lg-8">
                            <h1>Blogs</h1>
                            <p class="mb-0">Explore insightful articles and stay informed about the latest trends,
                                events, and experiences within the Visionary Nepal community.</p>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li><a href="{% url "home:home" %}">Home</a></li>
                        <li><a href="{% url "blog:blogs" %}">Blogs</a></li>
                        <li class="current">{{ post.title }}</li>
                    </ol>
                </div>
            </nav>
        </div>

        <section id="blog-details" class="blog-details">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row g-5">

                    <div class="col-lg-8">

                        <article class="article">

                            <div class="post-img">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid"/>
                                {% else %}
                                    <img src="{% static 'assets/img/blog_static.jpg' %}" class="img-fluid" alt="Blog Image" />
                                {% endif %}
                            </div>

                            <h2 class="title">{{ post.title }}</h2>

                            <div class="meta-top">
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-person"></i>
                                        <a href="{% url 'blog:author' post.author.profile.slug %}">
                                            <span class="">{{ post.get_author_name }}</span>
                                        </a>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-clock"></i>
                                        <span class="meta-li">{{ post.last_updated|date }}</span>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-eye-fill"></i>
                                        <span class="meta-li">{{ post.view_count }} view{{ post.view_count|pluralize }}</span>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-chat-dots"></i>
                                        <a href="#comments">{{ post.total_comments }}
                                            Comment{{ post.total_comments|pluralize }}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="content">
                                <p>
                                    {{ post.content|safe }}
                                </p>
                            </div>
                            <!-- End post content -->

                            <div class="meta-bottom">
                                <i class="bi bi-folder"></i>
                                <ul class="cats">
                                    <li><a href="#">{{ post.category.name }}</a></li>
                                </ul>

                                <i class="bi bi-tags"></i>
                                <ul class="tags">
                                    {% for tag in post.tags.all %}
                                        <li><a href="{% url 'blog:tag_page' tag.slug %}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- End meta bottom -->

                        </article>
                        <!-- End post article -->

                        <div class="blog-author d-flex align-items-center">
                            <div class="rounded-circle flex-shrink-0 overflow-hidden" style="margin: 20px;">
                                {% if post.author.profile.profile_image %}
                                    <img src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author }}"
                                         class="rounded-circle object-fit-contain"/>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                         class="author-profile">
                                        <path d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7l131.7 0c0 0 0 0 .1 0l5.5 0 112 0 5.5 0c0 0 0 0 .1 0l131.7 0c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2L224 304l-19.7 0c-12.4 0-20.1 13.6-13.7 24.2z"/>
                                    </svg>
                                {% endif %}
                            </div>

                            <div>
                                <h4>
                                    <a href="{% url 'blog:author' post.author.profile.slug %}">
                                        {{ post.get_author_name }}
                                    </a>
                                </h4>
                                <div class="social-links">
                                    {% for social in post.author.user_socials.all %}
                                        <a href="{{ social.link_url }}"><i class="{{ social.icon.icon }}"></i></a>
                                    {% endfor %}
                                </div>
                                <p>
                                    {{ post.author.profile.bio }}
                                </p>
                            </div>
                        </div>
                        <!-- End post author -->

                        <div id="comments" class="comments">
                            <div id="comments-body">
                                {% include "blog/includes/comments.html" with post=post total_comments=total_comments comments=comments %}
                            </div>
                            <!-- Comment Form -->
                            <div class="reply-form">
                                <h4>Leave a Reply</h4>
                                <p>Your email address will not be published. Required fields are marked * </p>
                                <form hx-post="" hx-target="#comments-body" hx-swap="innerHTML">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}"/>
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            {{ comment_form.user_name }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            {{ comment_form.email }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            {{ comment_form.content }}
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Post Comment</button>
                                    </div>
                                </form>
                            </div>
                            <!-- End Comment Form -->
                        </div>
                        <!-- End blog comments -->
                    </div>

                    <div class="col-lg-4">

                        <div class="sidebar">

                            <div class="sidebar-item search-form">
                                <h3 class="sidebar-title">Search</h3>
                                <form method="GET" action="{% url 'blog:search' %}" class="mt-3">
                                    <input type="text" name="search"/>
                                    <button type="submit"><i class="bi bi-search"></i></button>
                                </form>
                            </div><!-- End sidebar search form-->

                            <div class="sidebar-item categories">
                                <h3 class="sidebar-title">Categories</h3>
                                <ul class="mt-3">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url 'blog:category_page' category.slug %}">{{ category }}
                                                <span>({{ category.total_blogs }})</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- End sidebar categories-->

                            <div class="sidebar-item recent-posts">
                                <h3 class="sidebar-title">Recent Posts</h3>

                                {% for blog in recent_blogs %}
                                    <div class="post-item">
                                        {% if blog.image %}
                                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="flex-shrink-0" />
                                        {% else %}
                                            <img src="{% static 'assets/img/blog_static.jpg' %}" alt="Blog Image" class="flex-shrink-0" />
                                        {% endif %}
                                        <div>
                                            <h4>
                                                <a href="{% url 'blog:blog_detail_page' blog.slug %}">
                                                    {% if blog.headline %}
                                                    	{{ blog.headline|truncatechars:50 }}
                                                    {% else %}
                                                        {{ blog.title }}
                                                    {% endif %}
                                                </a>
                                            </h4>
                                            <time>{{ blog.last_updated|timezone:"Asia/Kathmandu"|date }}</time>
                                        </div>
                                    </div><!-- End recent post item-->
                                {% endfor %}
                            </div><!-- End sidebar recent posts-->

                            <div class="sidebar-item tags">
                                <h3 class="sidebar-title">Tags</h3>
                                <ul class="mt-3">
                                    {% for tag in tags %}
                                        <li><a href="{% url 'blog:tag_page' tag.slug %}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div><!-- End sidebar tags-->

                        </div><!-- End Sidebar -->

                    </div>

                </div>

            </div>

        </section><!-- End Blog-details Section -->
    </main>
{% endblock content %}

{% block extra_js %}
    <script>
        function toggleDiv(reply_span) {
            reply_span = reply_span.parentNode.parentNode.parentNode
            const replyBox = reply_span.querySelector('.comment-box')

            if (replyBox.style.display === "none") {
                replyBox.style.display = "block";
            } else {
                replyBox.style.display = "none";
            }
        }

        function toggleComments(button, divId, totalComments) {
            let div = document.getElementById(divId);
            if (div.style.display === "none" || div.style.display === "") {
                div.style.display = "block";
                button.innerHTML = "Hide Replies";
            } else {
                div.style.display = "none";
                button.innerHTML = `View Replies (${totalComments})`;
            }
        }
    </script>
{% endblock %}
