{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ member.name }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'team/css/team.css' %}"/>
{% endblock %}

{% block content %}
    <main id="main" style="padding: 160px 0 80px 0;">
        <section id="section-hero" class="my-3">
            <div class="container-fluid">
                <div class="hero-content">
                    <h1 class="text-center">Hi, I am {{ member.name }}, {{ member.designation }} at The Visionarys
                        Nepal.</h1>
                    <p class="text-center">
                        {{ member.description }}
                    </p>
                    {% if member.cv %}
                        <div class="text-center">
                            <a class="btn btn-danger" download href="{{ member.cv.url }}">Download Resume</a>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <figure class="text-center">
                        {% if member.profile %}
                            <img class="img-thumbnail rounded-circle w-50" src="{{ member.profile.profile_image.url }}"
                                 alt="{{ member.name }}"/>
                        {% else %}
                            <img class="img-thumbnail rounded-circle w-50" src="{% static 'assets/img/profile.svg' %}"
                                 alt="Hero"/>
                        {% endif %}
                    </figure>

                    <ul class="d-flex justify-content-center align-items-center gap-3 social-links">
                        {% for social_link in social_links %}
                            <li>
                                <a href="{{ social_link.link_url }}" class="social-link">
                                    <i class="{{ social_link.icon.icon }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        {% if works %}
            <section>
                <div class="container-fluid">
                    <h2 class="h6 section-title text-center">Featured Works</h2>

                    <div class="cards">
                        {% for work in works %}
                            {% include "team/includes/featured_work_card.html" with work=work %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
