<form method="post" class="php-email-form" data-aos="fade-up"
      data-aos-delay="200" id="contact-form">
    {% csrf_token %}
    <input name="form_type" type="hidden" value="contact"/>
    <div class="row gy-4">
        <div class="col-md-6">
            {{ form.name }}
        </div>

        <div class="col-md-6 ">
            {{ form.email }}
        </div>

        <div class="col-md-12">
            {{ form.subject }}
        </div>

        <div class="col-md-12">
            {{ form.message }}
        </div>

        <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
            <button class="g-recaptcha submit" data-sitekey="6Lc5x9oqAAAAANG8HiAQe-no6PTqDS4u_cnjqo9G"
                    data-callback="onSubmit"
                    data-action="submit" type="submit">
                Send Message
            </button>
        </div>
    </div>
</form>
